<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1 style="background-color: rgb(255, 0, 0) ">Breve biografía de Clarke</h1>
    <img src="/img/clarke.jpg">
    <p>
        De 1920 a 1921 Edith Clarke trabajó para la General Electric (GE) en Schenectady, dirigiendo a un grupo de mujeres que calculaban los esfuerzos mecánicos de los rotores de turbinas. Es de mencionar que aún con sus aptitudes y conocimientos, no tenía ni el salario ni la consideración de un Ingeniero de la GE de entonces.
Fue en 1921 cuando presentó y obtuvo una patente de un calculador gráfico para usarlo en la solución de los problemas de líneas de transmisión, y fue el tema sobre su primera ponencia técnica en la revista GE Review en 1923.
    </p>
    <a href="https://mujeresconciencia.com/2017/11/22/edith-clarke-1883-1959-una-adelantada-tiempo/" style="color:rgb(17, 0, 255) ">Fuente Mueres con Ciencia</a>

</body>
</html>