<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1 style="background-color: rgb(47, 116, 255) "> Breve biografía de Hamilton</h1>
    <img src="/img/hamilton.jpg">
    <p>
        Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática e ingeniero de Software estadounidense.
        Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT, donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo. Fue fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.
    </p>
    <a href="https://es.wikipedia.org/wiki/Margaret_Hamilton_(cient%C3%ADfica)" style="color:rgb(17, 0, 255) ">Fuente Wikipedia</a>
</body>
</html>